# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# VS Code
.vscode/

# Logs
logs/

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Temporary Files
*.tmp
*.temp

# Video Files
*.mp4
*.mkv
*.mov
*.avi